h1 {
    font-family: Lucida Console;
    font-size: 15px;
    color: black;
}
#mainTitle {
    font-family: Lucida Console;
    font-size: 17px;
}

#message{
    font-size: large;
    font-style: italic;
    
}

span {
    color:black; 
    font-family: Verdana;
}

 /*VARIABLES*/


#subconSmall{
    font-size: small; font-weight: 100;
}
#subconMedium{
    font-size: medium; font-weight: 100;
}
#subconLarge{
    font-size: large; font-weight: 100;
}

#parenthesisSmall{
    font-size: medium; font-weight: 100;
}
#parenthesisMedium{
    font-size: large; font-weight: 100;
}
#parenthesisLarge{
    font-size: x-large; font-weight: 100;
}

#conBegSmall {
    color:black;
    font-size:small;
}

#conBegMedium{
    color:black;
    font-size:medium;
}

#conBegLarge{
    color:black;
    font-size:large;
}

#conFinSmall {
    font-style:italic;
    font-size: x-small;
}

#conFinMedium{
    font-style:italic;
    font-size:small;
    
}

#conFinLarge{
    font-style:italic;
    font-size:medium;
}



#impSmall{
    font-size:medium;
}
#impMedium{
    font-size:large;
}
#impLarge{
    font-size:x-large;
}

#excSmall{
    font-size:medium;
}
#excMedium{
    font-size:large;
}
#excLarge{
    font-size:x-large;
}

sup {
    
}


#supLSmall {
    font-size:x-small;
}
#supLMedium {
    font-size:small;
}
#supLLarge {
    font-size:medium;
}

#supRSmall {
    font-size:x-small;
}
#supRMedium {
    font-size:small;
}
#supRLarge {
    font-size:medium;
}

sub {
    
}

#subSmall{
    font-size: x-small;
}
#subMedium{
    font-size: small;
}
#subLarge{
    font-size: medium;
}